html,
body {
	overflow-x: hidden;
}
.ov-hide {
	overflow-x: hidden;
}
.scroll-hor {
	overflow-x: auto;
}
.scroll-hor::-webkit-scrollbar {
	display: none;
}
.scroll-hor {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bh7 {
	height: 7vh;
}
.large {
	font-size: 1.5rem;
}

.comfortable {
	padding: 3.33em !important;
}

/* Define o aspecto da div .square para um quadrado e alinha oticamente svg de "play" dentro do quadrado .thumbnail. */
.square {
	aspect-ratio: 1/1;
}
#releases .thumbnail {
	position: relative;
}
#releases svg {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-40%, -50%);
}
.pad {
	padding: 0.5rem;
}
.jumbo-btn {
	border: inset 2px #bce954 !important;
}
.jumbo-btn:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.jumbo-btn:active {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
form label.full input {
	margin: 0;
}
form label.full input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	margin-right: -0.75rem;
	cursor: pointer;
}
.jumbo-input {
	padding: 1.75rem !important;
}
input::placeholder {
	color: #bce954;
}
input:focus {
	border: 3px solid #bce954;
	outline: none !important;
}
#birth {
	padding: 1.5rem !important;
}
.indent {
	text-indent: 1rem !important;
}
.tiny-indent {
	text-indent: 0.5rem !important;
}

.unpad {
	padding: 0 !important;
	margin: -0.5rem !important;
}
.auto {
	padding: 20% 0;
}
.column {
	display: flex !important;
	flex-direction: column;
}
.isolated {
	margin: 4.3rem 0 !important;
}
.marg-bot {
	margin-bottom: 4.3rem !important;
}
.inline label {
	vertical-align: super;
}
.no-wrap {
	flex-wrap: nowrap;
}
.wrap {
	flex-wrap: wrap;
}
.left-t {
	align-items: flex-start;
}
.left-self {
	align-self: flex-start;
}

.isolated-tiny {
	margin: 0.125rem 0;
}
.flex {
	display: flex !important;
}
.row.checkbox {
	position: relative;
}
.row.checkbox input {
	position: absolute;
	top: 50%;
	transform: translate(-50%);
}
/* .row.checkbox{
	
} */
.rowgap10 {
	-moz-row-gap: 10px;
	row-gap: 10px;
}
.rowgap20 {
	-moz-row-gap: 20px;
	row-gap: 20px;
}
.rowgap30 {
	-moz-row-gap: 30px;
	row-gap: 30px;
}
.rowgap40 {
	-moz-row-gap: 40px;
	row-gap: 40px;
}

.piss-search {
	color: #bce954;
	background-color: black;
	height: fit-content !important;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 3rem 20px;
	border-radius: 0;
	padding: 1.75rem;
}
.piss-search.active,
.piss-search:hover,
.piss-search-input:focus {
	width: 100% !important;
}
.piss-search.active,
.piss-search:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.piss-pagination a {
	padding: 1rem;
	background-color: black;
	color: #bce954 !important;
}
.piss-pagination a:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.piss-item {
	line-height: 150%;
}
.piss-item > a:hover {
	text-decoration: underline;
}

#dados,
#termos-e-condicoes,
#marketing {
	width: 1.5rem !important;
	height: 1.5rem !important;
}
<<<<<<< HEAD
#player {
	height: fit-content;
	width: 100%;
	left: 0;
}
.baudio-wrap {
	background-color: #bce954;
	display: flex;
	align-items: center;
}
.baudio-play {
	display: flex;
	padding: 0.5rem;
}
.baudio-play svg path {
	fill: black;
}
.baudio-progress {
	background-color: #bce954;
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.baudio-wrap .baudio-title,
.baudio-wrap .baudio-artist {
	color: black;
	text-shadow: none;
}
.baudio-wrap {
	margin: 0;
}
#player > div {
	display: none;
}
#player1:target,
#player2:target {
	display: flex;
}
=======

table {
	border: solid 2px black !important;
}

th {
	background-color: #bce954;
	color: black;
	font-size: 1rem !important;
}

td {
	border: solid 2px black !important;
	padding: 1rem 0.5rem !important;
	line-height: 150%;
}
tr {
	background-color: black;
}
tbody tr:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
>>>>>>> master

@media only screen and (min-width: 745px) {
	.piss-search {
		height: 14vh;
	}
}
