body {
	overflow-x: hidden;
}
.ov-hide {
	overflow-x: hidden;
}
.scroll-hor {
	overflow-x: auto;
}
.scroll-hor::-webkit-scrollbar {
	display: none;
}
.scroll-hor {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bh7 {
	height: 7vh;
}
.large {
	font-size: 1.5rem;
}

.comfortable {
	padding: 3.33em !important;
}

/* Define o aspecto da div .square para um quadrado e alinha oticamente svg de "play" dentro do quadrado .thumbnail. */
.square {
	aspect-ratio: 1/1;
}
#releases .thumbnail {
	position: relative;
}
#releases svg {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-40%, -50%);
}
.pad {
	padding: 0.5rem;
}
.unpad {
	padding: 0 !important;
	margin: -0.5rem !important;
}
.column {
	display: flex;
	flex-direction: column;
}
.isolated {
	margin: 4.3rem 0;
}
.no-wrap {
	flex-wrap: nowrap;
}
.left-t {
	align-items: flex-start;
}

.isolated-tiny {
	margin: 0.125rem 0;
}
.flex {
	display: flex;
}

.rowgap10 {
	-moz-row-gap: 10px;
	row-gap: 10px;
}
.rowgap20 {
	-moz-row-gap: 20px;
	row-gap: 20px;
}
.indent {
	text-indent: 1rem !important;
}
.piss-search {
	height: 7vh;
	display: flex;
	align-items: center;
	margin-top: 3rem;
	width: 100%;
	border-radius: 0;
	background-color: black;
	color: #bce954;
}
.piss-search.active,
.piss-search:hover,
.piss-search-input:focus {
	width: 100% !important;
}
.piss-search.active,
.piss-search:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.piss-pagination a {
	padding: 1rem;
	background-color: black;
	color: #bce954 !important;
}
.piss-pagination a:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
@media only screen and (min-width: 745px) {
	.piss-search {
		height: 14vh;
	}
}
